.sect {
  &__title {
    color: #fff;
    text-align: right;
    font-family: "afterZero";
    //font-size: 91px;
    font-size: 6.31vw;
    font-weight: 400;
    line-height: 90%; /* 81.9px */

    &--decorPrincipale {
      width: auto;
      text-align: end;
      transform: translateY(24vh) translateX(-49vw);
    }
    &--decorHB {
      width: auto;
      font-size: 6vw;
      flex-shrink: 0;
      transform: rotate(-15.861deg) translateY(46vh) translateX(-9vw);
    }
    &--blue {
      color: #063f7b;
    }
    &--red{
        color:#F60400;
    }
    &--zSup{
      position: relative;
      z-index: 2;
    }
    &--decorCentrale {
      font-size: 8vw;
      line-height: 160%; /* 192px */
      letter-spacing: 10.8px;
      width: 100%;
      text-align: center;
    }
    &--2{
      font-size: 6vw;
      text-align: start;
      max-width: 7ch;
    }
    &--black{
      color: #000000;
    }
  }


  &__txt{
    color: #000000;
    font-family: "robotoCondensed";
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 33.6px */

    &--after{
      font-family: "afterZero";
    }

    &--white{
      color:#ffffff
    }
    &--imgDecorTop{
      position: absolute;
      top: 60px;
      right: -40px;
      font-size: 6.5vw;
      z-index: 4;
    }
  }
}
