*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

body{
  background: #EFEAE4;
}

@font-face {
  font-family: 'robotoCondensed';
  src: url(./assets/fonts/roboto/RobotoCondensed-VariableFont_wght.ttf);
}
@font-face {
  font-family: "afterZero";
  src: url(./assets/fonts/afterzero/after.woff);
}